<div class="app-container" fxLayout="column">
  <div class="menu" fxLayout="row">
    <div class="title" fxLayout="column" fxLayoutAlign="center center">
      <i class="fas fa-film"></i>
    </div>
    <ul fxlayout="row" fxLayoutAlign="start center">
      <li>
        <a routerLink="/movies" routerLinkActive="active">Movies</a>
      </li>
      <li>
        <a routerLink="/about" routerLinkActive="active">About</a>
      </li>
    </ul>
  </div>

  <div
    fxFlex
    fxLayout="column"
    fxLayoutAlign="start center"
    class="router-container"
  >
    <router-outlet></router-outlet>
  </div>
</div>
