.app-container {
  padding-top: 50px;
  width: 100%;
  height: 100%;

  .menu {
    height: 50px;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    ul {
      height: 100%;

      li {
        margin: 0 20px;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

        a {
          color: white;
        }

        .active {
          color: red;
        }
      }
    }
  }

  .router-container {
    overflow: hidden;
    height: 100%;
  }
}
