:host {
  height: 100%;
}

.movies-container {
  padding: 20px 40px;
  height: 100%;
  max-width: 1400px;
}

.table-container {
  height: 100%;
}

p-table {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  ::ng-deep .ui-inputtext {
    width: 100%;
  }

  ::ng-deep .ui-table-scrollable-body {
    overflow-y: scroll;
  }

  ::ng-deep .ui-table-scrollable-header-box {
    margin-right: 17px !important;
  }
}

.movie-title {
  cursor: pointer;
}
