:host {
  height: 100%;
}

.movies-container {
  padding: 20px;
  height: 100%;
}

.table-container {
  height: 100%;
}
p-table {
  ::ng-deep .ui-inputtext {
    width: 100%;
  }
}

.movie-title {
  cursor: pointer;
}
