$primary-color: #081c24;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #d2d2d2;
  height: 100vh;
  color: $primary-color;
}

ul {
  list-style: none;
}

body a {
  text-decoration: none;
  color: $primary-color;
}

body a:hover {
  color: $primary-color;
}
body a:active {
  color: $primary-color;
}

.page-title {
  margin-bottom: 10px;
}

body .ui-table .ui-sortable-column {
  outline: none;
}

body .ui-table .ui-sortable-column.ui-state-highlight {
  background-color: #01d277;
  color: #ffffff;
}
